name: CI

on: [pull_request]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@main

      - name: Ding Talk PR Notify
        uses: lijinke666/ding-talk-pr-notify@main
        with:
          ding_talk_token: ${{ secrets.DING_TALK_ACCESS_TOKEN}}
          # repo_url: https://github.com/antvis/S2/pull
          at_all: true
